 <ion-view view-title="ColorPicker">
  
  <ion-header-bar class="bar-calm" align-title="left">
        <div class="buttons">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </div>
        <h1 class="title">ColorPicker</h1>
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-add"></button>
        </div>
    </ion-header-bar>

  <ion-content>
        <!-- Color: <input type="color" name="user_color" /> -->
       <!--  <div class="colorPickerStyle">
          <img src="img/wheel.png">
        </div> -->
        <h3 class="calm">Click your mind:</h3>
        <button class="button button-full button-light">light</button>
        <button class="button button-full button-stable">stable</button>
        <button class="button button-full button-positive">positive</button>
        <button class="button button-full button-calm">calm</button>
        <button class="button button-full button-balanced">balanced</button>
        <button class="button button-full button-energized">energized</button>
        <button class="button button-full button-assertive">assertive</button>
        <button class="button button-full button-royal">royal</button>
        <button class="button button-full button-dark">dark</button>
  </ion-content>
</ion-view>

<ion-tabs class="tabs-icon-top tabs-color-active-positive">
      <ion-tab title="主页" icon-off="ion-ios-ionic-outline" icon-on="ion-ionic" href="#/app/home">
      </ion-tab>
      <ion-tab title="分享" icon-off="ion-ios-cloud-outline" icon-on="ion-ios-cloud" href="#/app/share">
      </ion-tab>
      <ion-tab title="发现" icon-off="ion-compass" icon-on="ion-android-compass" href="#/app/find">
      </ion-tab>
      <ion-tab title="我的" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/app/my">    
      </ion-tab>
  </ion-tabs>