<ion-view view-title="极光" class="homeBg" >
  <ion-header-bar class="bar-calm" align-title="left">
        <div class="buttons">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </div>
        <h1 class="title">极光</h1>
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-add"></button>
        </div>
    </ion-header-bar>
  <ion-content>

          <!-- <div class="angle-bot-rt shapesize"><p>to bottom right</p></div>
          <div class="angle-bot-lt shapesize"><p>to bottom left</p></div>
          <div class="angle-top-rt shapesize"><p>to top right</p></div>
          <div class="angle-top-lt shapesize"><p>to top left</p></div> -->
          
          <button class="button button-full button-dark">Choose your mind:</button>
        

          <div style="text-align: center;margin-top: 200px">
              <img src="img/wheel.png">
          </div>



  </ion-content>

</ion-view>



<ion-tabs class="tabs-icon-top tabs-color-active-positive">
      <ion-tab title="主页" icon-off="ion-ios-ionic-outline" icon-on="ion-ionic" href="#/app/home">
      </ion-tab>
      <ion-tab title="分享" icon-off="ion-ios-cloud-outline" icon-on="ion-ios-cloud" href="#/app/share">
      </ion-tab>
      <ion-tab title="发现" icon-off="ion-compass" icon-on="ion-android-compass" href="#/app/find">
      </ion-tab>
      <ion-tab title="我的" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/app/my">    
      </ion-tab>
  </ion-tabs>