<ion-view view-title="极光">
  <ion-header-bar class="bar-calm" align-title="left">
        <div class="buttons">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </div>
        <h1 class="title">极光</h1>
        <div class="buttons">
            <a class="button button-icon button-clear ion-android-arrow-back" href="#app/my"></a>
        </div>
    </ion-header-bar>
  <ion-content>
    <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="搜索">
          </label>
        </div>
        <div class="list">
          <a class="item item-avatar" href="#">
            <img src="img/test_find_1.jpg">
            <h2>无名</h2>
            <p>I'm WengTingyu, others called me as "God of dating".</p>
          </a>
          <a class="item item-avatar" href="#">
            <img src="img/test_find_2.png">
            <h2>聂风</h2>
            <p>I want to say about the color scheme.</p>
          </a>
          <a class="item item-avatar" href="#">
            <img src="img/test_find_3.png">
            <h2>步惊云</h2>
            <p>I want to share my color scheme.</p>
          </a>
          <a class="item item-avatar" href="#">
            <img src="img/test_find.jpg">
            <h2>令狐冲</h2>
            <p>I think the color scheme is nice.</p>
          </a>
        </div>
    
  </ion-content>
</ion-view>