<ion-view view-title="极光">
  <ion-header-bar class="bar-calm" align-title="left">
        <div class="buttons">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </div>
        <h1 class="title">极光</h1>
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-add"></button>
        </div>
    </ion-header-bar>
  <ion-content>
    <div class="list card">
            <div class="item item-avatar">
              <img src="img/test_find.jpg">
              <h2>令狐冲</h2>
              <p>一剑在手,天下我有。哈哈</p>
            </div>

            <div class="item item-image">
              <img src="img/test_share_4.jpg">
            </div>
          </div>
        <div class="button-bar">
            <a href="#app/pattern" class="button button-assertive button-large icon-left ion-ionic button-clear">模式</a>
            <a href="#app/collection" class="button button-calm button-large icon-right ion-cube button-clear">收藏</a>
       </div>
       <div class="button-bar">
            <a href="#app/device" class="button button-balanced button-large icon-left ion-iphone button-clear">设备</a>
            <a href="#app/setting" class="button button-energized button-large icon-right ion-gear-a button-clear">设置</a>
       </div>
  </ion-content>
</ion-view>

<ion-tabs class="tabs-icon-top tabs-color-active-calm">
      <ion-tab title="主页" icon-off="ion-ios-ionic-outline" icon-on="ion-ionic" href="#/app/home">
      </ion-tab>
      <ion-tab title="配色" icon-off="ion-android-color-palette" icon-on="ion-android-color-palette" href="#/app/shoes">
      </ion-tab>
      <ion-tab title="分享" icon-off="ion-ios-cloud-outline" icon-on="ion-ios-cloud" href="#/app/share">
      </ion-tab>
      <!-- <ion-tab title="发现" icon-off="ion-compass" icon-on="ion-android-compass" href="#/app/find">
      </ion-tab> -->
      <ion-tab title="我的" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/app/my">    
      </ion-tab>
  </ion-tabs>