<ion-view view-title="极光">
  <ion-header-bar class="bar-calm" align-title="left">
        <div class="buttons">
            <a class="button button-icon button-clear ion-android-arrow-back" href="#app/my"></a>
        </div>
        <h1 class="title">极光</h1>
        <!-- <div class="buttons">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </div> -->
        
    </ion-header-bar>
  <ion-content>
    <div class="list">

          <li class="item">
            我的模式:
          </li>

          <a class="item item-icon-left" href="#">
             <i class="icon ion-happy calm"></i>
              亲子模式
          </a>
          <a class="item item-icon-left" href="#">
             <i class="icon ion-happy-outline balanced"></i>
              情侣模式
          </a>
          <a class="item item-icon-left" href="#">
             <i class="icon ion-happy assertive"></i>
              兄弟模式
          </a>
          <a class="item item-icon-left" href="#">
             <i class="icon ion-happy-outline energized"></i>
              客户模式
          </a>
          <a class="item item-icon-left" href="#">
             <i class="icon ion-happy balanced"></i>
              陌生人模式
          </a>
          <a class="item item-icon-left" href="#">
             <i class="icon ion-happy-outline positive"></i>
              暗恋模式
          </a>
          <a class="item item-icon-left" href="#">
             <i class="icon ion-happy royal"></i>
              舞神模式
          </a>
          <!-- <a class="item item-icon-left" href="#">
             <i class="icon ion-email"></i>
              自定义模式
          </a>
         
         
          <a class="item item-icon-right" href="#">
            自定义模式
            <i class="icon ion-android-add"></i>
          </a> -->

          <a class="item item-icon-left item-icon-right" href="#">
            <i class="icon ion-paper-airplane assertive"></i>
            自定义模式
            <i class="icon ion-android-add assertive"></i>
          </a>



        </div>
  </ion-content>
</ion-view>