<ion-view view-title="极光">
  <ion-header-bar class="bar-calm" align-title="left">
        <div class="buttons">
            <a class="button button-icon button-clear ion-android-arrow-back" href="#app/my"></a>
        </div>
        <h1 class="title">极光</h1>
    </ion-header-bar>
  <ion-content>
        <div class="list">
          <a class="item item-avatar" href="#">
            <img src="img/test_find.jpg">
            <h2>令狐冲</h2>
            <!-- <p>I think the color scheme is nice.</p> -->
          </a>
          <a class="item item-icon-right" href="#">
            设定目标
            <i class="icon ion-ios-arrow-forward"></i>
          </a>
          <a class="item item-icon-right" href="#">
            学习提醒
            <i class="icon ion-ios-arrow-forward"></i>
          </a>
          <a class="item item-icon-right" href="#">
            推送通知
            <i class="icon ion-ios-arrow-forward"></i>
          </a>
          <a class="item item-icon-right" href="#">
            清除缓存
            <i class="icon ion-ios-arrow-forward"></i>
          </a>
          <a class="item item-icon-right" href="#">
            意见反馈
            <i class="icon ion-ios-arrow-forward"></i>
          </a>
          <a class="item item-icon-right" href="#">
            版本更新
            <i class="icon ion-ios-arrow-forward"></i>
          </a>
          <a class="item item-icon-right" href="#">
            给我评分
            <i class="icon ion-ios-arrow-forward"></i>
          </a>
          <a class="item item-icon-right" href="#">
            关于极光
            <i class="icon ion-ios-arrow-forward"></i>
          </a>
          <a class="item item-icon-right" href="#">
            应用推荐
            <i class="icon ion-ios-arrow-forward"></i>
          </a>
        </div>
        <a class="button button-block button-outline button-assertive" href="#">
            退出登录
        </a>
  </ion-content>
</ion-view>